/**
 *
 * Header CSS
 *
 */


/* Top Bar */

#top-bar {
    font-size: 16px;
    height: 67px;
    @include small-lap {
        font-size: 14px;
        height:55px;
    }
    @include breakpoint(laptop) {
        font-size: 14px;
        height: 60px;
    }
    @include breakpoint(tablet) {
        font-size: 14px;
        height: 60px;
    }
    @include breakpoint(phone) {
        font-size: 14px;
        height: 60px;
    }
    .container {
        position: relative;
        height: 100%;
        img {
            position: absolute;
            left: 15px;
            top: 25px;
            max-width: 280px;
            @include small-lap {
                max-width: 230px;
            }
            @include breakpoint(laptop) {
                max-width: 240px;
                top:20px;
            }
            @include breakpoint(tablet) {
                max-width: 220px;
                top:20px;
            }
            @include breakpoint(phone) {
                width: 190px;
                top:15px;
            }
            @include breakpoint(phone-xs) {
                width: 160px;
            }
        }
        a.login-btn {
            text-transform: uppercase;
            color:$white;
            font-size: 1em;
            width: 125px;
            height: 37px;
            line-height: 33px;
            text-align: center;
            border-radius:999px;
            border:2px solid rgba(255,255,255,0.2);
            display:block;
            @include centre(y);
            right:15px;
            font-family: $font-heading;
            @include small-lap {
                width: 110px;
            }
            @include breakpoint(phone) {
                width: 110px;
                top:37px;
            }
            &:hover {
                background: $purple;
                border-color:$purple;
            }
        }
    }
    &:after {
        width: 80vw;
        float: right;
        height: 1px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
        content:'';
        display:block;
        opacity: 0.3;
        @include breakpoint(phone) {
            display:none;
        }
    }
}