/**
 *
 * Variables
 *
 */


/*===================================
=            Base Colors            =
===================================*/

$purple: #4a4090;

$white:#fff;
$black:#000;

/*=====  End of Base Colors  ======*/

/*=====================================
=            Custom colors            =
=====================================*/



/*=====  End of Custom colors  ======*/

/*====================================
=            Font Weights            =
====================================*/

$bold: 700;
$semi-bold: 600;
$regular: 400;
$light: 300;

/*=====  End of Font Weights  ======*/

/*==================================
=            Font Sizes            =
==================================*/

$base-size: 16px;

/*=====  End of Font Sizes  ======*/
